@import './colors.scss';

.addTodoForm {
  margin-top: 5rem;

  div:first-of-type {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 1rem;
    }
  }

  button {
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-background;
    }
  }
}

.todos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;

  .todo {
    background-color: $background-item;
    display: grid;
    grid-template-columns: 1fr 35px 30px 30px;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 5px;
    gap: 1rem;
    cursor: pointer;
    user-select: none;

    svg {
      &:hover {
        color: #3d485c;
      }
    }

    &.done {
      text-decoration: line-through;
    }
  }
}
